asgiref==3.11.1
boto3==1.43.16
botocore==1.43.16
dj-database-url==3.1.2
Django==4.2.30
django-storages==1.14.6
gunicorn==26.0.0
jmespath==1.1.0
packaging==26.2
pillow==12.2.0
psycopg2-binary==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
s3transfer==0.17.1
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0
